<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<body>
    <div th:fragment="tableTeacher" class="table-responsive mt-3">
        <table id="tblaTeacher" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Expertise</th>
                    <th scope="col">Actions</th>
                    <th scope="col">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Insert Teacher
        </button>
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr th:each="teacher: ${teachers}">
                    <th th:text="${teacher.id}" scope="row">1</th>
                    <td th:text="${teacher.name}"></td>
                    <td th:text="${teacher.expertise}"></td>
                    <td><a th:href="@{/teacher/edit/{id}(id=${teacher.id})}"><i class="fa fa-pencil-square-o text-dark btn btn-primary"></i></a> <a th:href="@{/teacher/delete/{id}(id=${teacher.id})}"><i class="fa fa-trash text-dark btn btn-danger"></i></a></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>